<h1> INSERT FLIGHT Data </h1> 

<form name="FLIGHT" method="post" action='/AdminInsertFLIGHT'> 
    <div>
        <label for="Flight_number">Flight_number</label>
        <input id="Flight_number" name="Flight_number" type="text" required placeholder="Flight_number">
    </div>
    <div>
        <label for="Airline">Airline</label>
        <input id="Airline" name="Airline" type="text" required placeholder="Airline">
    </div>
    <div>
        <label for="Weekdays">Weekdays</label>
        <input id="Weekdays" name="Weekdays" type="text" required placeholder="Weekdays">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>

<br><br>