<h1> INSERT AIRPORT Data </h1> 

<form name="AIRPORT" method="post" action='/AdminInsertAIRPORT'> 
    <div>
        <label for="Airport_code">Airport_code</label>
        <input id="Airport_code" name="Airport_code" type="text" required placeholder="Airport_code">
    </div>
    <div>
        <label for="Name">Name</label>
        <input id="Name" name="Name" type="text" required placeholder="Name">
    </div>
    <div>
        <label for="City">City</label>
        <input id="City" name="City" type="text" required placeholder="City">
    </div>
    <div>
        <label for="State">State</label>
        <input id="State" name="State" type="text" required placeholder="State">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>

<br><br>