<h1> Reservation Page </h1> 

<form name="SEAT_RESERVATIONS" method="post" action='/CustomerInsert'> 
    <div>
        <label for="Flight_number">Flight_number</label>
        <input id="Flight_number" name="Flight_number" type="text" required placeholder="Flight_number">
    </div>
    <div>
        <label for="Leg_number">Leg_number</label>
        <input id="Leg_number" name="Leg_number" type="text" required placeholder="Leg_number">
    </div>
    <div>
        <label for="Date">Date</label>
        <input id="Date" name="Date" type="text" required placeholder="Date">
    </div>
    <div>
        <label for="Seat_number">Seat_number</label>
        <input id="Seat_number" name="Seat_number" type="text" required placeholder="Seat_number">
    </div>
    <div>
        <label for="Customer_name">Customer_name</label>
        <input id="Customer_name" name="Customer_name" type="text" required placeholder="Customer_name">
    </div>
    <div>
        <label for="Customer_phone">Customer_phone</label>
        <input id="Customer_phone" name="Customer_phone" type="text" required placeholder="Customer_phone">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>

<br><br>